page-login
{
    ion-view.pane::before
    {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    .container
    {
        margin: auto;
        width: 90%;
    }

    .login
    {
        margin-top: 50px;
    }

    .login-header
    {
        color: $primary;
        font-size: 2em;
    }

    .login input
    {
        color: $light;
        background: transparent;
        border: none;
        border-bottom: 1px dotted $light;
        box-sizing: border-box;
        font-size: 1.3em;
        padding: 20px 10px;
        transition: background-color 0.5s ease-in-out;
        width: 100%;
    }

    .login input::-moz-placeholder,
    .login input::-ms-input-placeholder,
    .login input::-webkit-input-placeholder
    {
        color: $dark;
    }

    .login-footer
    {
        margin-top: 20px;
    }

    #login-footer-forgot
    {
        display: inline-block;
        float: left;
    }

    #forgot-link
    {
        display: block;
        padding-top: 0.5em;
    }

    #login-footer-login
    {
        display: inline-block;
        float: right;
    }

    #login-button
    {

    }
}
