page-school
{

    ion-toolbar.toolbar-school
    {
        border-color: inherit;
        border-style: none;
        box-shadow: 0;
    }

    ion-searchbar.searchbar-school
    {
            background-color: white;
            border: 0;
            margin-bottom: 2px;
            box-shadow: 0;
    }

    ion-chip.selected
    {
        background-color: maroon;
        color: white;
        display: flex;
        margin: 10px auto;
        padding: auto;
        width: 75%;
    }

    ion-label
    {

    }

    button.case-button-submit
    {
        bottom: 20px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 90%;
    }
}
