page-school
{
    ion-searchbar.searchbar-school
    {
            background-color: white;
            border: 0;
            margin-bottom: 2px;
    }

    ion-chip.selected
    {
        background-color: $primary;
        color: $light;
        display: flex;
        margin: 10px auto;
        padding: auto;
        width: 75%;
    }

    ion-label
    {

    }

    button.case-button-submit
    {
        bottom: 20px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 90%;
    }
}
