page-profile
{
    $profile-pic-size: 16vh;



    .toolbar-background
    {
        background: linear-gradient(to bottom, #660000, #730000);
        border-color: transparent !important;
        border: none;
        top: 0;
    }

    ion-title.toolbar.toolbar-ios
    {
        height: 10vh;
    }

    div.toolbar-background
    {
        border-bottom-width: 0px !important;
    }


    .scroll-content
    {
        margin: 0;
        height: 0 !important;
    }

    .fixed-content
    {
        margin-top: 10vh;
    }

    div#profile-pic-container
    {
        height: 10vh;
        width: 100vw;
        background: linear-gradient(to bottom, #730000, maroon);
        position: relative;
    }

    img#profile-pic
    {
        height: $profile-pic-size;
        width: $profile-pic-size;
        border-radius: $profile-pic-size;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        border: 2px solid white;

    }

    ion-segment
    {
        margin-top: 8vh;

    }

    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated
    {
        border-color: maroon;
    }

    .segment-md .segment-button
    {
        color: maroon;
    }

    div.cart-item
    {
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        //height: 24vh;
        display: flex;
        flex-wrap: nowrap;
    }

    div.cart-item-image-container
    {
        height: 25vh;
        width: 31vw;
        padding: 10px;
        position: relative;
        margin: 1vh 14vw 2vh 3vw;
    }

    img.cart-item-image
    {
        min-width: calc(31vw - 20px) !important;
        min-height: calc(25vh - 20px) !important;
        position: absolute;
        border-radius: 1.5%;

    }

    div.cart-item
    {
        border-bottom: 0.5px solid darkgrey;
        border-top: transparent;
    }


    .cart-item-description h1
    {
        width: 50vw;
        margin-top: 2vh;
        text-transform: uppercase;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 300;
        font-size: 22px;
    }

    .cart-item-description h2
    {
        font-weight: 340;
        font-size: 15px;
        margin-top: -1vh;

    }

    .cart-item-description h3
    {
        font-weight: 400;
        font-size: 20px;
        margin-top: 1.5vh;
    }

    .cart-item-description h4
    {
        font-weight: 300;
        font-size: 16px;
        margin-top: -.6vh;
    }

    *
    {
        //box-sizing: content-box;

    }
}
