bookcard
{
    $card-height:   30vh;
    $card-paddingv: 2vh;
    $card-paddingh: 4vw;
    $card-marginv:  1.25vh;
    $card-marginh:  auto;
    $card-width:    90vw;

    $container-height: calc( #{ $card-height } - 2 * #{ $card-paddingv });

    ion-card.card-ios,
    ion-card.card-md
    {
        border-color: black;
        height:       $card-height;
        padding:      $card-paddingv $card-paddingh;
        margin:       $card-marginv $card-marginh;
        width:        $card-width;
    }

    div.container
    {
        display:        flex;
        flex-direction: row;
        height:         $container-height;
        width:          100%;
    }

    div.photo-container
    {
        height:       $container-height;
        margin-right: 4%;
        position:     relative;
        width:        40%;
    }

    div.photo-container img
    {
        border-radius: 1.5px;
        left:          50%;
        position:      absolute;
        max-height:    100%;
        max-width:     100%;
        top:           50%;
        transform:     translate(-50%, -50%);
    }

    div.info-container
    {
        height: $container-height;
        width:  56%;
        right:  0;
    }

    [line]
    {
        color:              black;
        display:            -webkit-box;
        font-size:          1.8vh;
        line-height:        3vh;
        margin:             0 0 .5vh !important;
        overflow:           hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }

    [line="1"],
    {
        display:            -webkit-box;
        font-size:          2.5vh;
        font-weight:        250;
        -webkit-line-clamp: 3;
        text-transform: uppercase;
    }

    [line="3"],
    [line="4"]
    {
        color: grey;
    }

    [line="2"]
    {
        font-weight: 200;
    }

    [line="5"]
    {
        margin-top: 3vh;
        font-size: 3vh;
    }
}
