page-home
{
    .toolbar-background
    {
        background: color($colors, light, base);
        border-color: transparent !important;

    }

    ion-searchbar#search
    {
        background: color($colors, light, base);
        border-color: transparent;

    }

    ion-header
    {
        background: color($colors, light, base);
    }

    ion-content.content.content-ios
    {
        background: linear-gradient(to left top, #f8f8f8, #fdfdfd);
    }

    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated
    {
        border-color: darkred;
    }

    .segment-md .segment-button
    {
        color: maroon;
        text-transform: lowercase;
    }

    .segment-button
    {
        margin-top: -2.5vh;
        margin-bottom: 2.5vh;
    }

    button.fab.fab-ios
    {
        background-color: #7f0000;
    }

    ion-icon
    {
        color: white;
    }



}
