page-home
{
    .changeSchool
    {
      color: white;
      float: left;
      margin-left: 2vw;
    }

    .settings
    {
      float: right;
      margin-right: 3vw;
      color: white;
      font-size: 5vw;

    }

    .postButton
    {
      float: right;
      margin: 3vw;
      padding: 5vw;
    }

    ion-card.post
    {
        display: flex;
        flex-wrap: nowrap;
        height: 60hw;
        padding: 5px;
        margin: 20px auto;
        width: 95vw;
    }

    ion-card.post div.post-image-container,
    ion-card.post div.post-information-container
    {
        padding: 5px;
    }

    div.post-image-container
    {
        position: relative;
        width: 45vw;
    }

    div.post-image
    {
        //background-attachment: fixed;
        //background-position: center center;
        //background-repeat: no-repeat;
        left: 50%;
        min-height: calc(100% - 5px);
        min-width: calc(100% - 5px);
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    div.post-information-container
    {
        text-align: center;
        width: 55vw;
    }

    h1.post-title
    {
        font-size: 5vw;
        height: 10hw;

    }

    p.post-description
    {
    }


    ion-row.post-footer-container
    {
        height: 10hw;
    }

    ion-col.col,
    button.footer-button,
    ion-icon.post-icon,
    div.post-price,
    div.post-contact
    {
        margin: 0;
        padding: 0;
        max-width: 105vw;
    }
}
