page-settings
{
    .toolbar-background
    {
        background: linear-gradient(to bottom, #660000, #730000);
        border-color: transparent !important;
    }

    ion-content.content
    {
        background-color: #f8f8f8;
    }

    h1
    {
        text-align: left;
        margin-left: 3vw;
        font-size: 4vw;
        color: #909090;
        text-transform: uppercase;
        font-weight: 400;

    }

    ion-item#profile
    {
        padding-left: 11px;
    }

    .item-ios ion-avatar img
    {
        width: 35px;
        height: 35px;
        margin: 8px 4px 1px 0 !important;
    }

    .item-ios ion-avatar[item-start]
    {
        margin: 4px 6px 1px 0;
    }
}
