page-settings
{
    .toolbar-background
    {
        background: linear-gradient(to bottom, #660000, #730000);
        border-color: transparent !important;
    }

    ion-content.content
    {
        background-color: #f8f8f8;
    }

    h1
    {
        text-align: left;
        margin-left: 3vw;
        font-size: 4vw;
        color: #909090;
        text-transform: uppercase;
        font-weight: 400;

    }
}
