page-post
{

  .bookPic
  {
    height: 50vw;
    margin: 0 auto;
    width: 40vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    background-color: black;
  }

  .photoButton
  {

  }

  .submitButton
  {
    float: right;
    margin: 3vw;
  }
}
