page-welcome
{
    @keyframes slide
    {
        100%
        {
            margin-left: 0%;
        }
    }

    /* MAIN */

    main
    {
        height: 80%;
        overflow-x: hidden;
        position: relative;
        width: 100%;
        z-index: -1;
    }

    main img
    {
        left: 50%;
        opacity: 0.5;
        position: absolute;
        top: 68%;
        transform: translate(-50%);
        width: 20vw;
        z-index: -100;
    }

    /* BACKGROUND */

    .letter
    {
        height: 25%;
        margin-left: -29900%;
        opacity: 0.09;
        width: 30000%;
        z-index: -2;
    }

    #c
    {
        animation: slide 1000s linear infinite;
        background: url(../assets/img/c.jpg);
        background-repeat: repeat-x;
        background-size: contain;
        transition-timing-function: ease-in;
    }

    #a
    {
        animation: slide 1000s 200ms linear infinite;
        background: url(../assets/img/a.jpg);
        background-repeat: repeat-x;
        background-size: contain;
        transition-timing-function: ease-in;
    }

    #s
    {
        animation: slide 1000s 300ms linear infinite;
        background: url(../assets/img/s.jpg);
        background-repeat: repeat-x;
        background-size: contain;
        transition-timing-function: ease-in;
    }

    #e
    {
        animation: slide 1000s 400ms linear infinite;
        background: url(../assets/img/e.jpg);
        background-repeat: repeat-x;
        background-size: contain;
        transition-timing-function: ease-in;
    }


    /* WELCOME MESSAGE */

    header
    {
        color: $primary;
        display: block;
        box-sizing: border-box;
        left: 50%;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        z-index: 100;
    }

    header h1
    {
        font-size: 11.5vw;
        font-weight: 699;
    }

    header h5
    {
        font-size: 6.5vw;
        font-weight: 120;
    }

    /* BUTTONS */

    footer
    {
        text-align: center;
        height: 20%;
    }

    footer button
    {
        background-color: $primary;
        color: $secondary;
        border: solid;
        display: block;
        font-size: 24px;
        height: 50%;
        width: 100%;
        z-index: 100;
    }

    footer button:hover
    {
        background-color: hsl(0, 100%, 15%);
    }
}
