page-welcome
{
    *
    {
        color: white;
    }

    ion-content
    {
        background-color: black !important;
    }

    main
    {
        height: 100vh;
        padding: 0;
        position: relative;
        width: 100vw;
    }

    div.swatch
    {
        border-radius: 12px;
        box-shadow: 0px 1.5px 1.5px black;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 100%;
    }

    div#swatch1
    {
        background-image: url(../assets/imgs/background.jpeg);
        background-size: cover;
        background-position: center;
        height: 84%;
        z-index: -1;
    }

    div#swatch2
    {
        background:color($colors, dark, base);
        height: 92%;
        z-index: -2;
    }

    div#swatch3
    {
        background: color($colors, light, base);
        height: 100%;
        z-index: -3;
    }

    h1#title
    {
        position: absolute;
        font-size: 8vh;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-weight: 600;
    }

    button.account-button
    {
        background: transparent;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        bottom: 0%;
        height: 8vh;
        position: absolute;
        width: 100%;
    }

    button.account-button span
    {
        font-size: 24px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
