page-welcome
{
    $padding: 4px;
    $padding2x: calc(2 * #{$padding});
    $border-radius: 12px;
    $width: calc(100% - #{$padding2x});

    $visible1: calc(100% - 16% - #{$padding2x});
    $visible2: calc(100% - 08% - #{$padding2x});
    $visible3: calc(100% - 00% - #{$padding2x});

    $vhidden1: calc(100% - 04% - #{$padding2x});
    $vhidden2: calc(100% - 02% - #{$padding2x});
    $vhidden3: calc(100% - 00% - #{$padding2x});

    $whidden1: calc(100% - 00% - #{$padding2x});
    $whidden2: calc(100% - 02% - #{$padding2x});
    $whidden3: calc(100% - 04% - #{$padding2x});

    @keyframes show1
    {
        000% { height: $vhidden1; width: $whidden1; }
        100% { height: $visible1; width: $width; }
    }

    @keyframes show2
    {
        000% { height: $vhidden2; width: $whidden2; }
        100% { height: $visible2; width: $width; }
    }

    @keyframes show3
    {
        000% { height: $vhidden3; width: $whidden3; }
        100% { height: $visible3; width: $width; }
    }

    @keyframes hide1
    {
        000% { height: $visible1; width: $width; }
        100% { height: $vhidden1; width: $whidden1; }
    }

    @keyframes hide2
    {
        000% { height: $visible2; width: $width; }
        100% { height: $vhidden2; width: $whidden2; }
    }

    @keyframes hide3
    {
        000% { height: $visible3; width: $width; }
        100% { height: $vhidden3; width: $whidden3; }
    }

    *
    {
        color: white;
    }

    main
    {
        background: white;
        height: 100vh;
        padding: $padding;
        position: relative;
        width: 100vw;
    }

    div.swatch
    {
        border-radius: $border-radius;
        box-shadow: 0px 1.5px 1.5px black;
        color: white;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: $width;
    }

    div#swatch1
    {
        background-image: url(../assets/imgs/background.jpeg);
        background-size: cover;
        z-index: -1;
    }

    div#swatch2
    {
        background: $light;
        z-index: -2;
    }

    div#swatch3
    {
        background: $dark;
        z-index: -3;
    }

    .hidden1 { animation: hide1 0.2s forwards }
    .hidden2 { animation: hide2 0.2s forwards }
    .hidden3 { animation: hide3 0.2s forwards }


    .visible1 { animation: show1 0.2s forwards }
    .visible2 { animation: show2 0.2s forwards }
    .visible3 { animation: show3 0.2s forwards }

    h1#title
    {
        position: absolute;
        font-size: 8vh;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
        font-family: montserrat;
        font-weight: 600;
    }

    div#touch-target
    {
        position: absolute;
        bottom: 0%;
        height: 40px;
        width: 100%;
    }

    .wrapper
    {
        margin-top: 35vh;
    }

    ion-item#user
    {
        background: transparent;
        width: 80vw;
        margin: auto;
        padding:  0;


    }


    button.account-button
    {
        background: transparent;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        bottom: 0%;
        height: 8vh;
        position: absolute;
        width: 100%;
    }

    button.account-button span
    {
        font-size: 25px;
        font-family: montserrat;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    button#login{ }

    button#signup{ }
}
