page-forgot
{
    ion-header.header
    {
        background-image: none !important;
    }

    ion-navbar div.toolbar-background
    {
        background-color: transparent !important;
        border-color: transparent !important;
    }

    button.back-button
    {
        color: linen !important;
    }


    ion-content#content
    {
        background: linear-gradient(to left top, maroon, #802b00, #993300);
        border-radius: 4px;
    }

    ion-slides
    {
        z-index: 1;
        height: 100vh;
    }

    button#next,
    button#submit
    {
        margin-left: 78%;
    }

    button#submit
    {
        z-index: 10;
    }

    button

    button.swiper-pagination-bullet-active
    {
        background-color: linen;
    }

    #submit,
    #next
    {
        font-size: 10vw;
        color: linen;
        background-color: transparent !important;
        //float: right;
        top: 12vh;
        //position: absolute;
        //z-index: 10;
        left: 94vw;
    }



    ion-slides
    {
        //width: 95vw;
        margin-top: -15vh;
        //position: relative;
        //z-index: 1;
    }

    ion-content#content ion-slides ion-slide ion-item#fullname,
    ion-item#email,
    ion-item#collegeAttend
    {

        padding: 0;
        width:85%;
        background-color: transparent;
        color: linen;
        margin: 2vh auto 3vh !important;
        font-size: 4vw;
    }

    h1
    {
        font-size: 5.1vw;
        padding: 4vh 6vw 3vh;
        font-family: montserrat;
        color: white;
        text-align: left;
    }

    h1.email
    {
        margin-left: 1.2vw;
    }

    .numbers
    {
        display: flex;
        flex-direction: row;
        width: 100vw;
    }

    ion-item.number1
    {
        margin-right: 2vw;
        background-color: transparent;
    }

    .item-ios
    {
        background-color: transparent;
    }

    .item-block
    {
        width: 15%;
    }

    ion-icon
    {
        margin-top: 5vh;
    }

    div.numbers
    {
        margin-left: 2.5vw;
    }

    page-forgot ion-content#content ion-slides ion-slide ion-item#fullname, page-forgot ion-item#email, page-forgot ion-item#collegeAttend
    {
        margin-left: 3vw;
    }

    item item-block item-ios item-input
    {
        width: 50vw;
    }

}
