page-signup
{
    ion-header.header
    {
        background-image: none !important;
    }

    ion-navbar div.toolbar-background
    {
        background-color: transparent !important;
        border-color: transparent !important;
    }

    button.back-button
    {
        color: linen !important;
    }

    ion-slides
    {
        z-index: 1;
        height: 100vh;
    }

    button#next,
    button#submit
    {
        margin-left: 75%;
    }

    button#submit
    {
        z-index: 10;
    }

    button.swiper-pagination-bullet-active
    {
        background-color: linen;
    }

    ion-content#content
    {
        background: linear-gradient(to left top, maroon, #802b00, #993300);
        border-radius: 4px;
    }

    .name
    {
        font-size: 6vw;
        padding: 4vh 7vw 4vh;
        font-family: montserrat;
        color: white;
        text-align: left;


    }

    #submit,
    #next
    {
        font-size: 10vw;
        color: linen;
        background-color: transparent !important;
        //float: right;
        top: 10vh;
        //position: absolute;
        //z-index: 10;
    }





    ion-slides
    {
        //width: 95vw;
        margin-top: -15vh;
        //position: relative;
        //z-index: 1;
    }

    ion-content#content ion-slides ion-slide ion-item#fullname,
    ion-item#email,
    ion-item#collegeAttend
    {

        padding: 0;
        width:85%;
        background-color: transparent;
        color: linen;
        margin: 2vh auto 3vh !important;
        font-size: 4vw;
    }
}
