<ion-header>
<ion-navbar>
</ion-navbar>
</ion-header>

<ion-content id="content" ion-fixed>
<form [formGroup]="accountForm">
<!--<ion-slides pager="true" #slider>-->
<ion-slides pager="true" zoom="false" #slider>

    <ion-slide>
    <div class="slide-content">
    <h1 class="prompt">Hi! What's your email?</h1>
    <ion-item class="field" id="email">
    <ion-input (input)="inputCheck($event, 1)" placeholder="zora@hurston.com" formControlName="email" clearInput></ion-input>
    </ion-item>
    <p class="error" *ngIf="!nextButtonEnabled[1]"> Plase enter a valid email.</p>
    <button id="next" [disabled]="!nextButtonEnabled[1]" (click)="nextSlide()"><ion-icon name="ios-arrow-round-forward-outline"></ion-icon></button>
    </div>
    </ion-slide>

    <ion-slide>
    <div class="slide-content">
    <h1 class="prompt">Create a password</h1>
    <ion-item class="field" id="password">
    <ion-input placeholder="password" formControlName="password" (input)="inputCheck($event, 2)" clearInput></ion-input>
    </ion-item>
    <p class="error" *ngIf="!nextButtonEnabled[2]">Password must be mixed case, have 8 characters, and a number.</p>
    <button id="next" [disabled]="!nextButtonEnabled[2]" (click)="nextSlide()"><ion-icon name="ios-arrow-round-forward-outline"></ion-icon></button>
    </div>
    </ion-slide>

    <ion-slide>
    <div class="slide-content">
    <h1 class="prompt">Confirm your password</h1>
    <ion-item class="field" id="confirm">
    <ion-input (input)="inputCheck($event, 3)" placeholder="confirm password" formControlName="confirm" clearInput></ion-input>
    </ion-item>
    <p class="error" *ngIf="!nextButtonEnabled[3]">Passwords do not match.</p>
    <button id="submit" class="" [disabled]="!nextButtonEnabled[3]" (click)="nextSlide()"><ion-icon name="ios-arrow-round-forward-outline"></ion-icon></button>
    </div>
    </ion-slide>

    <ion-slide>
    <div class="slide-content">
    <h1 class="prompt">What's your name?</h1>
    <ion-item class="field" id="name">
    <ion-input (input)="inputCheck($event, 4)" placeholder="Zora Neale Hurston" formControlName="name" clearInput></ion-input>
    </ion-item>
    <p class="error" *ngIf="!nextButtonEnabled[4]">Please enter a valid name.</p>
    <button id="next" [disabled]="!nextButtonEnabled[4]" (click)="nextSlide()"><ion-icon name="ios-arrow-round-forward-outline"></ion-icon></button>
    </div>
    </ion-slide>

    <ion-slide>
    <div class="slide-content">
    <h1 class="prompt">Where do/did you go to school?</h1>
    <ion-item class="field" id="school">
    <ion-input placeholder="Howard University" (input)="inputCheck($event, 5)" formControlName="school" clearInput></ion-input>
    </ion-item>
    <ion-list class="schools">
    <button ion-button class="school" *ngFor="let school of filteredSchools" (click)="addSchool(school)">{{ school.name }}</button>
    </ion-list>
    <button id="next" [disabled]="!nextButtonEnabled[5]" (click)="nextSlide()"><ion-icon name="ios-arrow-round-forward-outline"></ion-icon></button>
    </div>
    </ion-slide>

    <ion-slide>
    <div class="slide-content">
    <h1 class="prompt">What year are you in school?</h1>
    <ion-item class="field" id="year">
    <ion-label>year</ion-label>
    <ion-select formControlName="year" (input)="inputCheck($event, 6)">
    <ion-option value="Freshman">Freshman</ion-option>
    <ion-option value="Sophomore">Sophomore</ion-option>
    <ion-option value="Junior">Junior</ion-option>
    <ion-option value="Senior">Senior</ion-option>
    </ion-select>
    </ion-item>
    <!--<button id="next" [disabled]="!nextButtonEnabled[6]" (click)="nextSlide()"><ion-icon name="ios-arrow-round-forward-outline"></ion-icon></button>-->
    </div>
    </ion-slide>



</ion-slides>
</form>
<button [disabled]="!formIsCorrect" (click)="segueToHome()" id="submit1">Submit</button>
</ion-content>
