page-signup
{

    ion-header,
    ion-navbar,
    .toolbar-background-ios,
    .toolbar-background-md,
    .header-md::after
    {
        background-color: transparent;
        border-color: transparent !important;
        z-index: 99;
    }

    button.back-button
    {
        color: linen !important;
    }

    ion-content#content
    {
        // background: linear-gradient(to left top, maroon, #802b00, #993300);
        background-color: color($colors, light, base);
        border-radius: 12px;
        height: 100%;
        z-index: 98;
    }

    form
    {
        height: 100%;
    }

    ion-slides
    {
        //margin-top: -15vh;
        z-index: 1;
        height: 92%;
    }

    div.slide-content
    {
        margin-top: -100px;
    }

    h1.prompt
    {
        font-size: 5.5vw;
        padding: 4vh 7vw 3vh;
        color: white;
        text-align: left;
    }

    ion-item.field
    {
        padding: 0;
        pointer-events: auto !important;
        width:85%;
        background-color: transparent;
        color: linen;
        margin: 2vh auto 3vh !important;
        font-size: 4vw;
    }

    ion-list.schools
    {
        width: 90%;
        margin: 0 auto;
        padding: 0px;
    }

    button.school
    {
        background-color: black;
        width: 100%;
        margin: 5px auto;
        padding: 0px;
        text-align: right;
    }

    span.button-inner
    {
        text-align: justify;
    }

    button.school:focus
    {
        background-color: inherit;
    }

    button#submit1
    {
        background: color($colors, primary, base);
        color: white;
        font-size: 4vh;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        bottom: 0%;
        height: 8%;
        position: absolute;
        width: 100%;
    }

    button#submit,
    button#next
    {
        font-size: 10vw;
        color: linen;
        background-color: transparent !important;
        top: 12vh;
        left: 94vw;
        margin-left: 75%;
        margin-top: 1.5vh;
    }

    p.error
    {
       font-size: 15px;
       color: SandyBrown;
       border-bottom: none;
       background-color: transparent;
       margin: 2vh 7vw 0;
       text-align: left;
    }

    button.swiper-pagination-bullet-active
    {
        background-color: linen;
    }
}
