page-home {

    .cart
    {
        float: right;
        background-color: transparent;
    }

    .searchbar
    {
        background-color: maroon;

    }

    ion-card.post
    {
        display: flex;
        flex-wrap: nowrap;
        padding: 5px;
        position: relative;
        margin: 20px auto;
        width: 95vw;
        height: 59vw;
    }

    ion-card.post div.post-image-container,
    ion-card.post div.post-information-container
    {
        padding: 5px;
    }


    div.post-information-container
    {
        position: relative;
        text-align: center;
        float: right;
        width: 55vw;
        }

    div.post-image
    {
        //background-attachment: fixed;
        //background-position: center center;
        //background-repeat: no-repeat;
        left: 50%;
        //min-height: calc(90vw - 5px);
        position: absolute;
        //top: 50%;
        transform: translate(-50%, -50%);
    }

    img.post-image
    {
        max-height: calc(100% - 10px);
        max-width: calc(100% - 10px);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    div.post-information-container
    {
        position: relative;
        text-align: center;
        width: 55vw;
    }

}
